<div class="header">
        <div class="grid">
            <div class="col-2">
                <img class="logo" src="assets/totem_logo.png" alt="">
            </div>
            <div class="col-2">
               <div class="text">
                    <p class="sistema-onboarding">Sistema Onboarding</p>
                    <p class="treinamento">Treinamento</p>
               </div>
            </div>
                <div class="col-5 background">
                  
                </div>
                <div class="col-2 background">
                    <p class="user">Vanessa Cristo</p>
                    <p class="function">Analista de Sistemas</p>
               </div>
               <div class="col-1 background">
               <i class="pi pi-user"></i>
           </div>
             </div>
        </div>