.header{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    .logo{
        margin-left: 3%;
    }


    .text{
        margin-top: 6%;
        font-family: "Arial",
    }

    .sistema-onboarding{
        font-size: 1.5em;
        font-weight: 700;
    }

    .treinamento{
        font-size: 1.5em;
        font-weight: 700;
        margin-left: 10%;
    }

    .background{
        background-color: #4153b3;
        
    }

    .user{
        margin-left: 70%;
        margin-top: 8%;
        color: white;    
        font-size: 1em;    
    }

    .function{
        margin-left:59%;
        margin-top: 0.5%;
        color: white;
    }

    .pi-user{
        margin-top: 12%;
        font-size: 1.5em;
        color: white; 
    }
    
}