<div class="categoria-content">
    <div class="painel-categoria">
        <p-panel>
            <ng-template pTemplate="header">
                <p>Categorias</p>
            </ng-template>
            <form [formGroup]="form">
            <div class="grid">
                    <div class="col-12 md:col-6 lg:col-8">
                        <p class="categoria-nome">Nome:</p>
                        <input type="text" formControlName="nome" [(ngModel)]="categoriaSave.nome" pInputText>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <p class="text-situacao">Situação:</p>
                        <p-radioButton [(ngModel)]="categoriaSave.situacao" class="radio-situacao-categoria" name="ativo" value="ATIVO" [(ngModel)]="situacao" [ngModelOptions]="{standalone: true}" label="Ativo"></p-radioButton>
                        <p-radioButton [(ngModel)]="categoriaSave.situacao" class="radio-situacao-categoria" name="inativo" value="INATIVO" [(ngModel)]="situacao" [ngModelOptions]="{standalone: true}" label="Inativo"></p-radioButton> 
                    </div>
            </div>
            <div class="btn">
                <p-button class="buttons" (click)="save()"><i class="pi pi-check"></i><p class="text-btn">Salvar</p></p-button>
                <p-button class="buttons" routerLink="/categoria-list"><i class="pi pi-times"></i><p class="text-btn">Cancelar</p></p-button>
            </div>
        </form>
         </p-panel>      
</div>


</div>