<div class="painel">
    <p-panel header="Categoria">
        <form [formGroup]="form"></form>
        <div class="grid">
                <div class="col-8 input-categoria">
                    <p class="categoria-nome">Nome:</p>
                    <input type="text" pInputText>
                </div>
                <div class="col-4">
                    <p>Situação:</p>
                    <select>
                        <option *ngFor="let situacao of situacoes"
                                [value]="situacao">
                          {{SituacaoLabel[situacao]}}
                        </option>
                      </select>
                </div>
        </div>
        <p-button><i class="pi pi-search"></i><p class="text-btn">Pesquisar</p></p-button>
        <p-button><i class="pi pi-refresh"></i><p class="text-btn">Limpar</p></p-button>
     </p-panel>      

     <p-panel>
        <ng-template pTemplate="header">
            <p>Lista de categorias</p>
            <div class="btn-cabecalho">
                <p-button routerLink="/categoria"><i class="pi pi-plus"></i><p class="text-btn">Adicionar</p></p-button>
            </div>
        </ng-template>
        <p-table [value]="listCategoria" [paginator]="true" [rows]="4" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="" [rowsPerPageOptions]="[4,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Situação</th>
                    <th>Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-categoria let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{categoria.nome}}</td>
                    <td>{{categoria.situacao == true? "Ativo":"Inativo"}}</td>
                    <td>
                        <i class="pi pi-trash"></i>
                        <i class="pi pi-pencil" routerLink="/categoria/{{categoria.id}}"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>