.categoria-list-content{

    ::ng-deep .painel-categoria-list{
        background-color: white;
        font-family: 'ArialMT', 'Arial', sans-serif;
        font-style: normal;
        color: #FFFFFF;
        
        
        .p-panel {
            margin-top: 2%;
            margin-left: 15%;
            margin-right: 15%;
            font-size: 0.9em;
            .p-panel-header{
                background-color: #4153b3;
                color: white;
                
            }
    
            input{
                margin-top: 1%;
                width: 100%;
                height: 3vh;
                font-size: 1.2em;
            }
    
    
    
            .radio-situacao-categoria{
                margin-top: 2%;
                margin-left: 5%;
            }
    
           
    
    
            select{
                margin-top: 4.5%;
                width: 40%;
                height: 50%;
                text-align: center;
                border-radius: 5px;
                font-size: 0.9em;
                border: 1px solid #ccc;
    
            }

            .input-nome{
                font-size: 1em;
            }
    
         
    
            .p-button{
                position: relative;
                left: 80%;
                margin-left: 2%;
                width: 5vw;
                height: 3.5vh;
                font-size: 0.8em;
                
                .text-btn{
                    margin-left: 5%;
                }

            }
    
           
           
    
        }
    
          .panel-list{
            position: relative;


            .btn-cabecalho{
                position: absolute;
                left: 73.9%;
           }       
    
           th{
            font-size: 0.8em;
           }
    
            td{
            font-size: 0.9em;
                i{
                    font-size: 1em;
                    margin-left: 2%;
                }
            }
    

          }
           
    
           
        
        
     
    
    
      
    }
    
    

}