::ng-deep .painel{
    background-color: white;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    
    
    .p-panel {
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
        .p-panel-header{
            background-color: #4153b3;
            color: white;

        }

        input{
            margin-top: 1%;
            width: 100%;
        }



        .radio-situacao-categoria{
            margin-top: 2%;
            margin-left: 5%;
        }

        p-button{
            position: relative;
            left: 80%;
            margin-left: 2%;
        }

    
        p{
            font-size: 1.2em;
        }

        select{
            margin-top: 2.3%;
            width: 20%;
            height: 55%;
            text-align: center;
            border-radius: 5px;
            font-size: 1em;
            border: 1px solid #ccc;
        }

        .text-btn{
            margin-left: 7%;
        }

        i{
            padding-left: 2%;
        }


    }

   .btn-cabecalho{
        margin-left: 75.2%;
   }

  
}

