::ng-deep .painel{
    background-color: white;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    
    
    .p-panel {
        margin: 0 auto;
        width: 70%;
        margin-top: 2%;
      
        .p-panel-header{
            background-color: #4153b3;
            color: white;

        }

        input{
            margin-top: 1%;
            width: 100%;
        }



        .radio-situacao-categoria{
            margin-top: 2%;
            
        }

        p-button{
            position: relative;
            left: 81%;
            margin-left: 2%;
         
        }

        .btn{
            position: relative;
            top: 1vh;
        }

        .text-btn{
            margin-left: 7%;
            font-size: 1em;
        }

        .text-situacao{
            margin-left: 5%;
        }

        select{
            margin-top: 3%;
            text-align: center;
            width: 90%;
            height: 60%;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

    }

}