.footer{
   position: fixed;
   bottom: 0%;
   width: 100%;
   z-index: 1;

    .background{
        flex-shrink: 0;
        background-color: #2a3791;
        height: 6vh;

        .icon-footer{
            margin-top: 0.5%;
        }
    }

   
    
}