.menu{ 
   

}
:host ::ng-deep .p-menubar{
    background-color:  #2a3791;
    border: 1px solid #2a3791;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 0px;
    height: 5vh;
}


 ::ng-deep .pi-th-large:before {
    color: white;
}

::ng-deep .pi-home:before {
    color: white;
    font-size: 1.3em;
}


::ng-deep .p-menubar .p-menuitem-link {
    background: #2a3791;
    
}

::ng-deep .p-menubar .p-menuitem-link .p-menuitem-text {
    color: white;
}

::ng-deep .pi-trash:before {
    color: white;
}

::ng-deep .pi-refresh:before {
    color: white;
}


::ng-deep .p-menubar .p-menuitem-link:not(.p-disabled):hover {
    background: #2a3791;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
   
}


::ng-deep .p-menubar .p-submenu-list{
    background: #2a3791;
}

::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: white;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
    
}

::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
    color: white;
}

::ng-deep .p-menubar .p-menuitem-link {
    background: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #2a3791;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;

}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: #2a3791;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
    
}

::ng-deep .p-menubar .p-menuitem-link .p-menuitem-text {
    color: white;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
  
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
    background-color: #2a3791;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
    pointer-events: all;
    
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: white;
    
}


::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
    background: #2a3791;
    -webkit-transition:none; 
    -moz-transition:none; 
    -ms-transition:none; 
    -o-transition:none; 
    transition:none;
    
}

::ng-deep .pi-home:before {
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .pi-th-large:before {
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
    color: white;
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link{
    color: white;
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menuitem-link {
    color: white;
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menuitem-link:not(.p-disabled):hover {
    background-color: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
    color: white;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover{
    background: #2a3791;
    color: #2a3791;
    pointer-events: none;
    background-color: #2a3791;
    
}

::ng-deep [_nghost-wma-c96] .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link{
    background: #2a3791;
    background-color: #2a3791;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover{
    background: #2a3791;
    background-color: #2a3791;
}