<div class="produto-list-content">
    <div class="painel-produto-list">
            <p-panel>
                <ng-template pTemplate="header">
                    <p>Produto</p>
                </ng-template>
                <form [formGroup]="form">
                <div class="grid">
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-categoria">Categoria:</p>
                            <p-dropdown [options]="listCategoria" [(ngModel)]="selectedCat" formControlName="categoria" optionLabel="nome"></p-dropdown>
                        </div>
                        <div class="col-12 md:col-6 lg:col-7 input-produto">
                            <p class="categoria-nome">Nome:</p>
                            <input type="text" formControlName="nome" name="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-situacao">Situação:</p>
                            <select class="selectSituacao" formControlName="situacao" type="number">
                                <option *ngFor="let situacao of situacoes"
                                        [ngValue]="situacao">
                                  {{SituacaoLabel[situacao]}}
                                </option>
                              </select>
                        </div>
                </div>
            </form>
                <div class="btn">
                     <p-button (click)="findByNome()"><i class="pi pi-search"></i><p class="text-btn">Pesquisar</p></p-button>
                     <p-button (click)="resetForm()" ><i class="pi pi-refresh"></i><p class="text-btn">Limpar</p></p-button>
                </div>
             </p-panel>   

          <div class="panel-categoria-list">
            <p-panel>
                <ng-template pTemplate="header">
                    <p>Lista de Produtos</p>
                    <div class="btn-cabecalho">
                        <p-button routerLink="/produto"><i class="pi pi-plus"></i><p class="text-btn">Adicionar</p></p-button>
                    </div>
                </ng-template>
                <p-table [value]="listProduto" [paginator]="true" [rows]="4" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="" [rowsPerPageOptions]="[4,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Categoria</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-produto let-i="rowIndex">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.categoria.nome}}</td>
                            <td>{{produto.situacao.toLowerCase() === "ativo"? "Ativo":"Inativo"}}</td>
                            <td>
                                <i class="pi pi-pencil" routerLink="/produto/{{produto.id}}"></i>
                                <i class="pi pi-times" (click)="deleteProduto(produto.id)" > </i>
                            
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
          </div>
        </div>
    </div>














         