.cliente-content{

    ::ng-deep .painel-cliente-content{
        background-color: white;
        font-family: 'ArialMT', 'Arial', sans-serif;
        font-style: normal;
        color: #FFFFFF;

       
        .p-panel {
            position: relative;
            margin: 0 auto;
            width: 45%;
            margin-top: 2%;
            box-sizing: border-box;
          
            .p-panel-header{
                background-color: #4153b3;
                color: white;
            }

            select{
                text-align: center;
                width: 70%;
                height: 35%;
                border-radius: 4px;
                border: 1px solid #ccc;
                
            }

            input{
                height: 35%;
                
            }

            .p-dropdown{
                height: 40%;
                font-size: 0.9;
            }
            
            

        }
    }

}
    
    