<div class="cliente-content">
    <div class="painel-cliente-content">
            <p-panel>
                <ng-template pTemplate="header">
                    <p>Cliente</p>
                </ng-template>
                <div class="flex justify-content-center flex-wrap card-container yellow-container">
                <form [formGroup]="form">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-2">
                        <p class="text-tipo">Tipo:</p>
                        <select class="selectTipo" formControlName="tipo" type="number">
                            <option *ngFor="let tipo of tipos"
                                    [ngValue]="tipos">
                              {{TipoLabel[tipo]}}
                            </option>
                          </select>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4">
                            <p class="text-cpf">CPF/CNPJ:</p>
                            <input class="input-cpf" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-inscricao">Inscrição Estadual:</p>
                            <input type="text" class="input-inscricao" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4">
                            <p class="text-situacao">Situação:</p>
                            <p-radioButton class="radio-situacao-categoria" value="true" [(ngModel)]="situacao" [ngModelOptions]="{standalone: true}"  label="Ativo"></p-radioButton>
                            <p-radioButton class="radio-situacao-categoria" value="false" [(ngModel)]="situacao" [ngModelOptions]="{standalone: true}"  label="Inativo"></p-radioButton> 
                        </div>
                        <div class="col-12 md:col-6 lg:col-4">
                            <p class="text-nome">Nome/Razão Social:</p>
                            <input class="input-nome" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-sexo">Sexo:</p>
                            <select class="selectSexo" formControlName="sexo" type="number">
                                <option *ngFor="let sexo of sexos"
                                        [ngValue]="sexos">
                                  {{SexoLabel[sexo]}}
                                </option>
                              </select>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-data">Data de Nascimento:</p>
                            <input class="input-data" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-7">
                            <p class="text-endereco">Endereço:</p>
                            <input class="input-endereco" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <p class="text-bairro">Bairro:</p>
                            <input class="input-bairro" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4">
                            <p class="text-cep">CEP:</p>
                            <input class="input-cep" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-municipio">Municipio:</p>
                            <input class="input-municipio" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-1">
                            <p class="text-uf">UF:</p>
                            <input class="input-uf" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4"></div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-telefone">Telefone:</p>
                            <input class="input-telefone" type="text" formControlName="nome" pInputText>
                        </div>
                        
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-celular">Celular:</p>
                            <input class="input-celular" type="text" formControlName="nome" pInputText>
                        </div>
                        <div class="col-12 md:col-6 lg:col-2">
                            <p class="text-contato">Contato:</p>
                            <input class="input-contato" type="text" formControlName="nome" pInputText>
                        </div>
                       
                </div>
                <div class="btn">
                    <p-button class="btn"><i class="pi pi-check"></i><p class="text-btn">Salvar</p></p-button>
                    <p-button class="btn" routerLink="/cliente-list"><i class="pi pi-times"></i><p class="text-btn">Cancelar</p></p-button>
                </div>
            </form>
        </div>
             </p-panel>      
        </div>
    </div>
